{% extends 'base.html' %}

{% block content %}
{#    <style>#}
{#    * {#}
{#        background: url("{{ background }}");#}
{#    }#}
{#</style>#}

<div class="container-fluid container-main">
<div class="row">
    <div class="col-sm">
        {% for single_list in active_lists %}
<div class="single-list">
    <h2 class="list-title">{{ single_list.list_name }}</h2>
    <p class="list-description">{{ single_list.list_description }}</p>
    {% if single_list.listcard_set.all %}
    {% for single_card in single_list.listcard_set.all %}
    <div class="single-card">
        <h3 class="card-title">{{ single_card.card_name }}</h3>
        <p class="card-desc">{{ single_card.card_description }}</p>

    </div>

    {% endfor %}

    {% else %}
    <div class="alert alert-warning">Brak kart dla tej listy</div>

    {% endif %}

</div>
{% empty %}
<div class="alert alert-danger">Brak aktywnych list</div>
{% endfor %}
    </div>
</div>
</div>
{% endblock %}

